@font-face {
  font-family: "Lato Bold";
  src: url("./../../assets/fonts/Lato2OFL/Lato-Bold.ttf");
}

.headContainer {
  background: white;
  margin: 0 auto;
  max-width: 95%;
  height: 76px;
  /* position: fixed; */
  border-bottom: 0.9px solid black;
  /* border: 1px solid black; */
}

.subHeadingStyles {
  color: #eb5d5f;
  text-decoration: none;
  font-size: 12px;
}
.headerSubHeading {
  font-size: 12px;
  padding-top: 5.3%;
  color: #eb5d5f;
  /* padding-bottom:7%; */
  /* margin-left: 20%; */
}

.logoStyle:hover {
  text-decoration: none;
}
.logoStyle {
  right: 0;
  text-decoration: none;

  cursor: pointer;
  position: absolute;
}
.logoStyle > img {
  cursor: pointer;
  margin-top: 10px;
}
.donatebtn:hover {
  text-decoration: none;
  cursor: pointer;
}
.donatebtn {
  text-decoration: none;

  background: #eb5d5f;
  width: 140px;
  /* margin-left: 80%; */
  position: absolute;
  right: 0;
  height: 65px;
}
.donatebtn > p {
  font-family: "Lato Bold";
  color: aliceblue;
  font-size: 12px;
  text-align: center;
  padding: 17% 0;
}

/* Search */

/* @media (min-width: 5px) and (max-width: 1024px) {

    .donatebtn{
        height: 
    }
    
  }
   */

@media screen and (max-width: 577px) {
  .headContainer {
    display: none;
  }
}
