@font-face {
  font-family: "Harabara Bold";
  src: url("./../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

/* nav{
    position: fixed
} */
.containerNav {
  width: auto%;
}

a {
  text-decoration: none;
}

nav ul {
  background-color: #fff;
  color: black;
  padding: 0;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 0.5%;
  text-align: center;
  /* position: fixed; */
  transition: max-height 0.4s;
}

.dropdownContent > a {
  color: aliceblue;
}

nav ul li {
  font-size: 2vmin;
  font-family: "Harabara Bold";
  display: inline-block;
  padding: 0px 10px;
  color: black;
  z-index: -1;
}

nav ul li:hover {
  /* background-color: #ffffff */
  opacity: 0.5;
  text-decoration: none;
  /* color: aliceblue; */
}

a {
  text-decoration: none;
  color: inherit;
}

.dropdownContentSchools > a:hover {
  color: aliceblue;
}

/* After collapse */
.dropdownContent > a:hover {
  color: aliceblue;
}

.handle {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  color: black;
  display: none;
}

p.menu {
  display: inline-block;
  font-size: 7.7vmin;
  margin: 10px 5px;
  font-family: "Harabara Bold";
}

.menu_icon div {
  background-color: black;
  border-radius: 2px;
  width: 25px;
  height: 3px;
  margin: 4px;
}

.menu_icon {
  float: right;
  margin: 12px 5px;
}

.dropdownSchools {
  position: relative;
  display: inline-block;
}

.dropdownContentSchools {
  display: none;
  position: absolute;
  /* height: 100px; */
  background-color: #1c70aa;
  color: white;
  font-family: "Harabara Bold";
  font-size: 2vmin;
  min-width: 350px;
  margin-left: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 29px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.dropdownContentSchools a {
  color: white;
  text-align: left;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent {
  display: none;
  position: absolute;
  /* height: 100px; */
  background-color: #1c70aa;
  color: white;
  font-family: "Harabara Bold";
  font-size: 2vmin;
  min-width: 159px;
  margin-left: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 29px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent a {
  color: white;
  text-align: left;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdownContent a:hover {background-color: #1d80c4;} */

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownSchools:hover .dropdownContentSchools {
  display: block;
}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
@media screen and (max-width: 620px) {
  .defaultClose {
    max-height: 0;
    display: none;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }

  .showing {
    display: block;
    max-height: 1500px;
    transition: max-height 1s;
  }

  .handle {
    display: block;
  }

  .dropdown {
    position: relative;
    display: block;
  }
}
