@font-face {
  font-family: "Harabara Bold";
  src: url("./../../../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Harabara Medium";
  src: url("./../../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

.slideFiveContainerHme {
  width: 100%;
  /* height: 100px; */
  padding: 4% 20%;
}

.container-fluid {
  margin-top: 50px;
}
.headingSlideHme > p {
  /* text-align: center; */
  font-size: 1.9vw;
  font-weight: bold;
  text-align: center;
  font-family: "Harabara Bold";
}
.slideFiveDescriptionHme {
  margin-top: -10%;
  text-align: center;
  font-size: 1.5vw;
}

@media (min-width: 600px) and (max-width: 768px) {
  .slideFiveContainerHme {
    width: 100%;
    padding: 11% 0%;
  }
  .headingSlideHme > p {
    font-weight: bold;
    font-family: "Harabara Bold";
    margin-top: 11%;
    text-align: center;
    font-size: 4.4vw;
    margin-top: 16%;
  }

  .slideFiveDescriptionHme {
    margin-top: -10%;
    color: #354463;
    text-align: center;
    font-size: 4.2vw;
    font-family: "Lato Light";
  }
}
@media (min-width: 320px) and (max-width: 590px) {
  .slideFiveContainerHme {
    width: 100%;
  }
  .headingSlideHme > p {
    font-weight: bold;
    font-family: "Harabara Bold";
    margin-top: 11%;
    text-align: center;
    font-size: 6.4vw;
    margin-top: 16%;
  }

  .slideFiveDescriptionHme {
    margin-top: -10%;
    color: #354463;
    text-align: center;
    font-size: 5.2vw;
    font-family: "Lato Light";
  }
}
@media (min-width: 900px) and (max-width: 1024px) {
  .slideFiveContainerHme {
    width: 100%;
    padding: 11% 0%;
  }
  .headingSlideHme > p {
    font-weight: bold;
    font-family: "Harabara Bold";
    margin-top: 11%;
    text-align: center;
    font-size: 4.4vw;
    margin-top: 16%;
  }

  .slideFiveDescriptionHme {
    margin-top: -10%;
    color: #354463;
    text-align: center;
    font-size: 4.2vw;
    font-family: "Lato Light";
  }
}
